* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-Serif';
}

.notif_box {
    padding: 35px 20px;
    font-style: oblique;
    display: flex;
    justify-content: space-between;
}

.notif_box span {
    color: red;
    font-weight: 500;
}

button {
    padding: 5px;
    margin: 5px;
    border: none;
}

.mark_all {
    font-weight: bold;
}

.mark_all:hover {
    background-color: black;
    color: #ffffff;
}

.cards_container {
    display: flex;
    justify-content: space-around;
}

.manage_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: #fff;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 15px;
}

.manage_card a {
    text-decoration: none;
    color: aqua;
}

.notif_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 400px;
    height: 85px;
    padding: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 4px 0 #444;
}

.pending {
    border-left: 5px solid orange;
}

.cancel {
    border-left: 5px solid red;
}

.update {
    border-left: 5px solid greenyellow;
}

.icon_container {
    margin-right: 5px;
}

.time {
    text-align: right;
}

.unread {
    font-weight: bold;
}

.read {
    font-weight: 400;
}

i {
    color: red;
}

.premium_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: #fff;
    line-height: 1.5;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 15px;
}

.premium_card a {
    color: chartreuse;
}

@media (max-width:768px) {
    .manage_card {
        display: none;
    }

    .notif_card {
        width: 250px;
        height: 60px;
    }

    .premium_card {
        display: none;
    }
}